<%= fields_for :origin, @lift_request.origin do |origin_form| %>
  <div>
    <%= origin_form.label :address, "Origin Address" %>
    <%= origin_form.text_field :address %>
  </div>
  <div>
    <%= origin_form.label :city, "Origin City" %>
    <%= origin_form.text_field :city %>
  </div>
  <div>
    <%= origin_form.label :state, "Origin State" %>
    <%= origin_form.text_field :state %>
  </div>
  <div>
    <%= origin_form.label :zip_code, "Origin Zip Code" %>
    <%= origin_form.text_field :zip_code %>
  </div>
<% end %>

<%= fields_for :destination, @lift_request.destination do |destination_form| %>
  <div>
    <%= destination_form.label :address, "Destination Address" %>
    <%= destination_form.text_field :address %>
  </div>
  <div>
    <%= destination_form.label :city, "Destination City" %>
    <%= destination_form.text_field :city %>
  </div>
  <div>
    <%= destination_form.label :state, "Destination State" %>
    <%= destination_form.text_field :state %>
  </div>
  <div>
    <%= destination_form.label :zip_code, "Destination Zip Code" %>
    <%= destination_form.text_field :zip_code %>
  </div>
<% end %>
